.Header-img {
  object-fit: cover; /*first three lines crop top and bottom of header image*/
  object-position: 0 20%;
  transform: translateY(-10%);
  min-width: 1024px;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}

.main {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  align-items: center;
}

.our-mission-section-div {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  text-align: center;
  background-color: #1BC3A9;
  border-radius: 20px;
  margin-bottom: 75px;
  margin-top: 50px;
  color: white;
}

.maintext-section-div {
  padding-bottom: 50px;
  padding-left: 20%;
  padding-right: 20%;
}

.main-graphic-img {
  width: 100px;
  height: 100px;
}

.main-graphic-small {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 50px;
  height: 50px;
}

.section-header {
  font-size: 36px;
  font-weight: bold;
}

.event-title {
  font-size: 22px;
  font-weight: bold;
}

.date-time{
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
}

.right-justify {
  text-align: right;
}

.photo-grid {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.gallery-img {
  width: 50%;
  height: 50%;
}

.facebook {
  width: 10%;
}

li {
    list-style-type: none;
}


@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');